.kanban-container{
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 15px;
  margin: 0 15px;
}
mat-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(45deg, #3f51b5 70%, #ff4081 30%);
}
.task-card{
  background: white;
}
.section-title{
  color: white;
  text-transform: uppercase;
  text-align: center;
}
