<div *ngIf="tables!=null">
<mat-select>
<mat-option *ngFor="let table of tables" value="{{table.id}}">{{table.id}}</mat-option>
</mat-select>

<div class="kanban-container" *ngIf="selectedTable!=null" cdkDropListGroup>
  <mat-card *ngIf="selectedTable.cards!=null" cdkDropList (cdkDropListDropped)="drop($event)" class="waitings">
    <mat-card-title class="section-title">En Attente !</mat-card-title>
  <mat-card *ngFor="let waiting of (selectedTable.cards | kanbanState: 'Waiting')" cdkDrag [attr.id]="waiting.id" class="task-card">
    <mat-card-header  >
      <mat-card-title>
        {{waiting.sheet.wording}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Date limite : {{waiting.sheet.dueDate}}</p>
      <p *ngIf="waiting.sheet.user!=null">Utilisateur : {{waiting.sheet.user.firstName}}</p>
      <p>Note :{{waiting.sheet.note}}</p>
      <button mat-mini-fab color="accent" (click)="deleteCard(waiting.id)"><mat-icon>delete</mat-icon></button>
    </mat-card-content>
  </mat-card>
  </mat-card>
    <mat-card *ngIf="selectedTable.cards!=null" cdkDropList (cdkDropListDropped)="drop($event)" class="inProgress">
      <mat-card-title class="section-title">En cours</mat-card-title>
      <mat-card *ngFor="let inprog of (selectedTable.cards | kanbanState: 'Progress')" cdkDrag  [attr.id]="inprog.id" class="task-card">
        <mat-card-header  >
          <mat-card-title>
            {{inprog.sheet.wording}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Date limite : {{inprog.sheet.dueDate}}</p>
          <p *ngIf="inprog.sheet.user!=null">Utilisateur : {{inprog.sheet.user.firstName}}</p>
          <p>Note : {{inprog.sheet.note}}</p>
          <button mat-mini-fab color="accent" (click)="deleteCard(inprog.id)"><mat-icon>delete</mat-icon></button>
        </mat-card-content>
      </mat-card>
    </mat-card>
    <mat-card *ngIf="selectedTable.cards!=null" cdkDropList (cdkDropListDropped)="drop($event)" class="finished">
      <mat-card-title class="section-title">Fini</mat-card-title>
      <mat-card *ngFor="let finished of (selectedTable.cards | kanbanState: 'Finished')" cdkDrag  [attr.id]="finished.id" class="task-card">
        <mat-card-header >
          <mat-card-title>
            {{finished.sheet.wording}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Date limite : {{finished.sheet.dueDate}}</p>
          <p *ngIf="finished.sheet.user!=null"> Utilisateur : {{finished.sheet.user.firstName}}</p>
          <p>Note : {{finished.sheet.note}}</p>
          <button mat-mini-fab color="accent" (click)="deleteCard(finished.id)"><mat-icon>delete</mat-icon></button>
        </mat-card-content>
      </mat-card>
    </mat-card>
</div>
</div>
