<form [formGroup]="newUserForm" (ngSubmit)="onSubmit(newUserForm.value)">
<mat-form-field>
  <input matInput placeholder="prénom" formControlName="firstname"/>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="nom" formControlName="lastname"/>
</mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!newUserForm.valid" mat-dialog-close>Envoyer</button>
</form>
