<button *ngIf="tables.length!=0" mat-mini-fab color="accent" (click)="openDialog()" class="add-new"><mat-icon>add</mat-icon></button>
<app-display-kanban *ngIf="tables.length!=0"></app-display-kanban>
<app-no-table *ngIf="tables.length==0"> </app-no-table>
