<mat-dialog-content>
<form [formGroup]="newTaskForm" (ngSubmit)="onSubmit(newTaskForm.value)">
  <h3>Ajouter une tache</h3>
  <mat-form-field>
    <mat-label>Titre</mat-label>
    <input matInput placeholder="Description" type="text" formControlName="wording">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date limite</mat-label>
    <input matInput placeholder="Date" type="date" formControlName="date">
  </mat-form-field>
  <div class="select-user-container">
  <mat-form-field >
        <mat-select formControlName="selectedUserForm" placeholder="Utilisateur">
          <mat-option *ngFor="let user of users" [value]="user">{{user.firstName}}</mat-option>
        </mat-select>
  </mat-form-field>
  <button type="button" class="add-user-button" mat-mini-fab color="accent" (click)="createUser($event)"><mat-icon>add</mat-icon></button>
</div>
  <mat-form-field>
    <mat-label>Temps</mat-label>
    <input matInput placeholder="Temps" type="number" formControlName="time">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput placeholder="Location" type="text" formControlName="location">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <input matInput placeholder="Tags" type="text" formControlName="tags">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Url</mat-label>
    <input matInput placeholder="Url" type="text" formControlName="url">
  </mat-form-field>
 <mat-form-field>
   <mat-label>Note</mat-label>
   <input matInput placeholder="Note" type="text">
 </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!newTaskForm.valid" mat-dialog-close>Envoyer</button>
</form>
</mat-dialog-content>
